<!DOCTYPE html>

<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style type="text/css">
    body
    {
        background-image: url("93.jpeg");
        background-repeat: no-repeat;
        background-size: 1500px 1500px;
        margin-top: 50px;
    }

    h2
    {
       text-align: center;
       color:#000033;
       font:sans-serif;
    }

    h3
    {
       text-align: left;
       color:#000033;
       font:sans-serif;
       margin-left: 200px;
       margin-top: 300px; 
    }

</style>
</head>
<body>
    <h2>The entered text is: </h2> 
    <center>  
    <p>{{ string }}</p>
    <h3>Sentiment: </h3>  
    <p>{{ sentiment }} </p>
  </center>
</body>
</html>